body{
font-size:15px;
}
A:visited {
    COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
    COLOR: #000000; TEXT-DECORATION: underline
}
A:active {
    COLOR: #000000; TEXT-DECORATION: none
}
A:link {
    COLOR: #000000; TEXT-DECORATION: none
}
.message_box{
    padding:2px 2px 2px 2px;
    border:1px solid #000000;
    background:#FFFFFF no-repeat;
    color:#000;
    FONT-SIZE: 13px
}
.moved{
background:url(moved.gif);
}
.over{
background:url(over.gif);
}
