html(xmlns="http://www.w3.org/1999/xhtml")
 head
  meta(http-equiv="Content-Type",content="text/html; charset=utf8")
  title= title
  script(src="javascripts/dd_code.js")
  script(src="javascripts/rule.js")
  script(src="javascripts/room.js")
 body(topmargin="0",leftmargin="0")
  table(border="0",cellpadding="0",cellspacing="0",width="588",height="650")
   tr
    td(width="24")
     &nbsp;
    td
     div(width="542",id="pla")
     div(style="display:none",id="sound")
    td
